.DS_Store
.hg
.hgtags
.hgignore

.idea
.project
.cproject
.settings
*.tmproj

*.o
*.a
*.d
*.i
*.s
*.orig
*.tar
*.tar.gz
*.swp
*.log

3rd-party/UnitTest++/TestUnitTest++
src/test-runner
src/decode-demo
src/sample-server
src/t.c
src/t
src/t.dSYM
decode-demo.out.txt
cccc-output
output
random-bytes.txt

CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
Testing

Debug
Release
*.ncb
*.sln
*.suo
*.vcproj
*.vcproj.*.user
*.cache

*.gcov
*.gcno
*.gcda
