.DS_Store
.hg
.hgtags
.hgignore
.idea/workspace.xml

*.o
*.a
*.d
*.i
*.s
*.orig

3rd-party/UnitTest++/TestUnitTest++
Documentation/amqp.pdf
src/TestRunner
src/decode-demo
src/decode-demo.tar.gz
src/t.c
src/t
src/t.dSYM
decode-demo.out.txt
